footer.page-footer.blue.lighten-2
    .footer-copyright
        .row.valign-wrapper
            .col.s3 &copy; 2021 Copyright 00009575
            p.col.s6.center
                | This web application was created to fulfill&nbsp;Web Technology module&rsquo;s requirements and does not represent an actual company or service
            .col.s3
                a.grey-text.text-lighten-4.right(href='https://github.com/ID00009575/WebTech.CW2.9575') My GitHub