nav.row.blue.lighten-2
    .nav-wrapper.col.s12
        a.brand-logo(href='/') My Blog
        ul#nav-mobile.right.hide-on-med-and-down
            li
                a.flow-text(href='/new-blog') Create Blog
            li
                a.flow-text(href='/all-blogs') All Blogs
            li
                a.flow-text(href='/deleted-blogs') Deleted Blogs