extends ./includes/layout
block main
    h3 All Blogs
    .row
        article.all-blogs.col.s12.m12
            if blogs.length > 0
                each blog in blogs
                    section.card.col.l3.m5.s12.hoverable
                        .card-image
                            img.responsive-img(src=`/static/images/${blog.photo}`)
                            span.card-title= blog.title
                        .card-content
                            p.description-review= blog.description
                        .card-action
                            a(href=`/blog-details/${blog.id}`) Open details
            else
                p 'There are no blogs yet!'