extends ./includes/layout
block main
    .row.create-form
        form.col.s12(method='POST' action='/new-blog/create-blog' enctype='multipart/form-data')
            .row
                .input-field.col.s12
                    i.material-icons.prefix account_circle
                    input#author.validate(name='author' type='text')
                    label(for='author') Author name:
                    span.helper-text(data-error='Please enter your name' data-success='right') Enter your name
            .row
                .input-field.col.s12
                    i.material-icons.prefix title
                    input#title.validate(name='title' type='text')
                    label(for='title') Title:
                    span.helper-text(data-error='Please enter some title' data-success='right') Enter title of the blog
            .row
                .input-field.col.s12
                    i.material-icons.prefix mode_edit
                    textarea#description.materialize-textarea(name='description')
                    label(for='description') Description:
                    span.helper-text(data-error='Please enter some description' data-success='right') Enter description of the blog
            .file-field.input-field
                .btn.blue.lighten-2
                    span Photo
                    input(type='file' id='photo' name='photo')
                .file-path-wrapper
                    input.file-path(type='text' name='filePath')
            .row
                button.btn.waves-effect.waves-light.blue.darken-2(type='submit' name='action')
                    | Create
                    i.material-icons.right send
                // Modal Trigger
                a.btn.modal-trigger.right(data-target='preview') Preview
        // Modal Structure
        #preview.modal.modal-fixed-footer
            .modal-content
                h4 Blog Preview
                section.card.col.s12.hoverable
                    .card-image
                        img.responsive-img(src='static/images/blog-logo.jpg')
                        span.card-title Blog title
                    .card-content
                        p.description-review Blog description
            .modal-footer
                button.modal-close.btn-flat OK
